

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
  
}

html{
  scroll-behavior: smooth;
}

body{
font-family: 'Numans', sans-serif;
  overflow-x: hidden;
}





header{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s ;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li{
  list-style-type: none;
}


:root{
  --red:#cc2900;
  --black:#262626;
  --white:#ffff;
}

::selection{
  background: var(--red);
}

.header-1{
  background-color:var(--red);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9%;
}

.header-1 .logo {

  color: var(--black);
  font-size: 1rem;
  text-transform: uppercase;

}

.header-1 .logo-icon {

  color: var(--white);
  
  font-size: 2rem;
  
}

.prod-details{
 margin: 0 auto;
}
.details{


 gap: 20px;
 background: rgb(251, 243, 238);
  border-radius: 10px;
margin: 10px;
  justify-content: center;
  padding: 2rem;
}

.prod-image img{
width:100%;

}


.details .prod-des .prod-txt h2{
color: #cc2900;
font-weight: 200;
text-transform: uppercase;
font-size: 40px;
margin: 0;
}


.details .prod-txt p{
  font-size: 15px;
  font-weight: 300;
text-transform: capitalize;
width: 100%;

}
.details .add_cart{
background-color: #ff8a05;
border: none;
outline: none;
height: 2.5rem;
width: 100%;

font-size: 15px;
font-weight: 600;
text-transform: uppercase;
color: white;
border-radius: 10px;



}
.details .add_cart:hover{
background-color: #ffc505;

}

  .swal-button {
    background-color: #ff8a05;
    border: none;
    outline: none;
  }
  .swal-button:hover {
    background-color: #e68e2a;
    border: none;
    outline: none;
  }


.details .price h4{
color: #000000;
font-weight: 600;
text-transform: uppercase;
font-size: 30px;
margin: 0;
}
.details .price span{
color: #686464;
font-weight: 300;
text-transform: uppercase;
font-size: 20px;
text-decoration: line-through;
margin: 0;
}


/* nabar */

.ui .floating {
  background:none !;
}

.nav-up {
  background-color: white !important;
 position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}


.search-box{
  outline: none !important;
  width: 50rem;
  border: rgb(255, 145, 0) solid;
  outline:none;
  box-shadow: none !important;
  border-radius: 10px 0px 0px 10px;

}.search-box:focus{
    border: rgb(255, 145, 0) solid;
}
.search-button{
  outline: none !important;

  border: rgb(255, 145, 0) solid 1px;
  outline:none;
  box-shadow: none !important;
  border-radius: 0px 30px 30px 0px;
  background-color: rgb(255, 145, 0) ;
  color: white;

}.search-button:focus{
    border: rgb(240, 160, 55) solid 1px;
 
}
.search-button:hover{
    background-color: rgb(255, 188, 100)!important;   
    border: rgb(240, 160, 55) solid 1px;
    color: black;
}

.style-menu{
  background-color:red;
  min-height: 5rem;
}

.carts{
  font-size: 20px;
  color: #696969;
}

/*2nd nav*/
.navba{
     background-color: #f0f0f0;
    
}
.navbar_bar{

    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navbar_bar .list-1{

    padding: 4px;
    align-items: center;
    display: flex;
    width: 10rem;
}

.navbar_bar .list-1 li{
left: 0;
    padding: 10px;
    font-size: 15px;
    color: orange;
    
    
}
.navbar_bar .list-1 li a{


    font-size: 12px;
    color: rgb(0, 0, 0);
    
    
}

.align2 {
  display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
overflow: hidden;


}
 .form1{
  display: none;

}
@media screen and (max-width:960px) {
 .form1{
  display: none;

}

.align2{
  flex-wrap: wrap;
}
}

/* carousel */


.carousel-fade {
  margin: 0;
  padding: 0;
    max-height: 35rem;
    overflow: hidden;
    
}

.carousel-control-prev, .carousel-control-next{
opacity: 0;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
opacity: 0;
}

 .fabric-carousel_image{
margin: 0 auto;
position: absolute;
top: 10rem;
 }

 .carousel-caption{
  text-align: right;
  top: 40%;
  transform: translateY(-50% );
 }

 .carousel-caption h5{
   font-size: 6vw;
   font-weight: 700;
   color: rgb(255, 118, 6);
   
 }

  .carousel-caption p{
    color: white;
  }

 .fa-search{
   color: white;
 }

 .menu-bar{
   width: 40%;
   height: 57px;
   float: right;
 }

  .menu-bar ul{
 display: inline-flex;
 float: right;
 list-style: none;

 }
  .menu-bar ul li{
padding: 15px 40px;
text-decoration: none;
text-align: center;
border-right:solid 1px white  ;
background-color: orange;
color: white;
    border: solid 2px orange;
    
    color: white;
    transition: 0.2s;

 }
  .menu-bar ul li a{
    
    text-transform: uppercase;

 } 
  .menu-bar ul li a:hover{
    color: rgb(0, 0, 0);
    text-transform: uppercase;

 }
  .menu-bar ul li:hover{
    color: black;
  background-color: white;
  
 }

 @media screen and (max-width:960px) {
   .top-nav-bar{
     height: 118px;
     border-bottom: 0;
   }

   .search-box{
     width: 100%;
   }

   .menu-bar{
     width: 100%;
    
   }
 

  .menu-bar ul{
     margin: 10px 0;
     width: 100%;
      
   }
  .menu-bar ul li{
    height: 57px;
     width: 100%;
   }
 }




#header{
  display: flex;
  justify-content: space-between;
  padding: 0rem 2.5rem;

  background-color: rgb(255, 136, 0);
  transition: 2ms;

}

.logo1{
font-size: 1.3em;
text-transform: uppercase;
padding-top: 1rem;
}

.left{
  margin:1rem ;
}

.cart-count{
  top: 0;
  margin: 10px 60px 0px 25px;
  position: absolute;
  font-size: .8rem;
  font-weight: 700;
  border-radius: 100px;

  background: rgb(177, 0, 0);
  color: white;
  padding: 4px;
  display: block;

}




.left .fa-shopping-cart{
 font-size: 1.3rem;
    padding-left: 13px;
    padding-right: 10rem;
      color: white;
}
.left .fa-user{
  font-size: 1.3rem;
    padding-left: 20px;
  
  color: white;

}

.fa-times{
  color: white;
z-index: 1000;

  position: fixed;
  font-size: 2rem;
}


.search-container{
display: inline;
position: relative;

top: 12px;

position: absolute;
}

.search-container #search{
position: absolute;
; right: .5rem;
height: 2.1rem;
width: 3.5rem;
font-size: 1rem;
padding: 0 1rem;
border: none;
outline: none;
border-radius: 100rem;
background: none;
}


.search-container #search:focus{
width: 25rem;
background: white;
}

.search-container #search:hover{
  width: 25rem;
background: white;

}

.search-container .fa-search{
  position: absolute;
  top: 3px;left: -2.3rem;
  font-size: 1rem;
  cursor: pointer;
 background-color: white;
 border-radius: 5rem;
 padding: 6px;
z-index: 10000;
  color: black;
}
.search-container .fa-search:hover {
  color: black;
}
.search-container .fa-search:active {
  color: black;
}
#search
.search-container .fa-search:hover ~ #search{
z-index: 1;
  width: 25rem;
background: white;


}


/* user dropdown */
.navbar2 {
  position: fixed;
  top: 3rem; right: -0;
  height: 50vh;
  width: 20vw;
  background: #000;
  padding: 0;
  display: none;
 border-radius: 10px;
 z-index: 1000;
}

.navbar2 ul{
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
   border-radius: 20px 0 0 20px;
}

.navbar2 ul li {
  margin: .5rem 0;
}
.navbar2 ul li a {
display: block;
padding-bottom: 1rem;
height: 3rem;
width: 15rem;
background: #fff;
border-radius: 5rem;
text-align: center;
font-size: 1.5rem;
line-height: 4rem;
}

@media screen and (max-width:600px) {

  .navbar2 {
  position: fixed;
  top: 3.5rem; right: -0;
  height: 40vh;
  width: 50vw;
  background: #000;
  padding: 0;
  display: none;
 

}

.navbar2 ul li a {
display: block;
padding-bottom: 3rem;

width: 10rem;
background: #fff;
border-radius: 5rem;
text-align: center;
font-size: 1.5rem;
line-height: 4rem;
}

.left .fa-shopping-cart{
  font-size: 1.3rem;
    color: white;
    padding-right: 10rem;
}
.left .fa-user{
  font-size: 1.3rem;
    padding-left: 13px;
  
  color: white;

}

.cart-count{
  top: 0;

  margin: 10px 60px 0px 25px;
  position: absolute;
  font-size: .8rem;
  font-weight: 700;
  border-radius: 100px;

  background: rgb(177, 0, 0);
  color: white;
  padding: 4px;
  display: block;

}

.search-container #search{
position: absolute;
; right: .5rem;
height: 2.1rem;
width: 3.5rem;
font-size: 1.5rem;
padding: 0 1rem;
border: none;
outline: none;
border-radius: 100rem;
background: none;
}


.search-container .fa-search{
  position: absolute;
  top: 3px;left: -2.3rem;
  font-size: 1.2rem;
  cursor: pointer;
 background-color: white;
 border-radius: 5rem;
 padding: 3px;
z-index: 10000;
  color: black;
}

}



@media screen and (max-width:460px) {
  .search-container #search:focus{
width: 15rem;
}

@media screen and (max-width:380px) {
  .search-container #search:focus{
width: 10rem;
}

}

.search-container #search:hover{
  width: 15rem;
}

.search-container .fa-search:hover ~ #search{

  width: 15rem;
}


}









 /* feature-category */

 .feature-category{
   margin: 50px 0;
 }

 .feature-category img{
   max-width: 100%;
   padding: 20px 0;
   transition: 1s;
   cursor: pointer;
   overflow: hidden;
 }
/*trending product*/
.box-title{
  background-color: orange;
  width: 15rem;
  text-transform: uppercase;
  font-size: 5px;
  border-radius: 20px 2px 20px 2px;
  text-align: center;
  padding: 5px;
}

.box-title h4{
  font-size: 15px;
}

 .fabric_item img{
width: 100%;
 }

 .product-text{
   padding: 10px;
   width: 100%;
  color: black;
 }

  .product-text h5 {
   
    color: rgb(221, 144, 0);
    text-transform: uppercase;
 }


  .product-text p {
   
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
    
  }

   .product-text p span {
   
    color: rgb(155, 155, 155);
    font-size: 13px;
    text-decoration: line-through;
   
    
  }

  .fabric_item{
   border: 1px solid rgb(63, 63, 63); 
   border-radius: 5px;
  }


  .card-all{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 4fr));
    gap:  3rem;
    align-items: center;
    margin: 0 auto ;


  }
.cards  {
  border-radius: 5px;
  transition: 0.1s ease-out;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;


}


  .img{
    transition: 0.5s;
    overflow: unset;

  }
  .img:hover {
    transform: scale(1.1,1.0);
    overflow: hidden;

  }

  .content-1{
    z-index: 10000; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px;


    border-radius: 0 0 5px 5px;

  }

    .content-1 h5{
      padding-top: 10px;
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: rgb(29, 27, 27);
    text-transform: uppercase;
    font-weight: 400;
  }

  .content p{
    padding: 5px;
      color: rgb(0, 0, 0);
      font-weight: 600;
      font-size: 15px;
      display: flex;
      flex-direction: column;
  }
  .content p span{
      text-decoration: line-through;
      font-size: 12px;
      font-weight: 400;
      color: rgb(167, 167, 160);

  }
  .cards img{
    width: 100% ;
    overflow-y: hidden;
    transition: 0.5s ease-out;
    border-radius: 10px 10px 0 0;
  }




  /* product-deatil */
  .rows{
    display: grid;
    grid-template-columns: 10px 410px;
  }



  /* footer */

  .contain{
  min-width: 40vh;
    margin: 0 auto;
    flex-wrap: wrap;

  }

  .rowz{
    display: grid;

    grid-template-columns: repeat(auto-fill,minmax(200px, 3fr));

    
  }


 .footer{
   background-color: rgb(28, 28, 29);
   padding: 70px 0;
   margin-top: 2rem;
 }
 .footer-col{
margin: 0 auto;
padding:0 15px;
 }
 .footer-col h4{
position: relative;
font-weight: 600;
color: white;
font-family: sans-serif;
text-transform: capitalize;
}


 .footer-col h4::before{
content: ' ';
position: absolute;
left: 0;
bottom: -10px;
background-color: rgb(253, 105, 7);
bottom: -10px;
height: 2px;
width: 50px;


}


 .footer-col ul{
padding: 0;
}

 .footer-col ul li:not(:last-child){
margin-bottom:10px;
}

 .footer-col ul li a{
font-size: 14px;
color: white;
font-weight: 500;
transition: 0.2s ease-in-out;
}

 .footer-col ul li a:hover{
   padding-left: 10px;
   color: rgb(253, 147, 76);

 }

 .footer-col .social_handle a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgb(255, 142, 50);
   text-align: center;
   align-items: center;
   line-height: 40px;
   border-radius: 100px;
   font-size: 17px;
   color: white;
transition: 0.2s ease-in-out;


 }

 .footer-col .social_handle a:hover{
   transform: scale(1.2,1.2);
 }

ul {
    list-style: none;
}


